// Spacings

$spacing-1: 0.25rem; // 4px;
$spacing-2: 0.5rem; // 8px;
$spacing-3: 0.75rem; // 12px;
$spacing-4: 1rem; // 16px;
$spacing-5: 1.5rem; // 24px;
$spacing-6: 2rem; // 32px;
$spacing-7: 3rem; // 48px;
$spacing-8: 4rem; // 64px;
$spacing-9: 6rem; // 96px;
$spacing-10: 8rem; // 128px;
$spacing-11: 12rem; // 192px;
$spacing-12: 16rem; // 256px;
$spacing-13: 24rem; // 384px;
$spacing-14: 32rem; // 512px;
$spacing-15: 40rem; // 640px;
$spacing-16: 48rem; // 768px;

// Fonts

$font-text: 'Segoe UI';
$font-input: Tahoma;
$font-mono: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$font-size-10: 0.625rem; // 10px;
$font-size-12: 0.75rem; // 12px;
$font-size-14: 0.875rem; // 14px;
$font-size-16: 1rem; // 16px;
$font-size-18: 1.125rem; // 18px;

$font-bold: 600;

// Colors

$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$dark-5-grey: hsl(213, 12%, 15%);
$dark-4-grey: hsl(210, 10%, 23%);
$dark-3-grey: hsl(210, 9%, 31%);
$dark-2-grey: hsl(210, 7%, 56%);
$dark-1-grey: hsl(210, 11%, 71%);
$light-1-grey: hsl(210, 14%, 83%);
$light-2-grey: hsl(210, 14%, 89%);
$light-3-grey: hsl(210, 16%, 93%);
$light-4-grey: hsl(210, 17%, 95%);
$light-5-grey: hsl(210, 17%, 98%);

$purple-1: hsl(270, 62%, 10%);
$purple-2: hsl(270, 63%, 25%);
$purple-3: hsl(270, 63%, 32%);
$purple-4: hsl(270, 63%, 42%);
$purple-5: hsl(270, 63%, 55%);
$purple-6: hsl(270, 63%, 75%);
$purple-7: hsl(270, 62%, 90%);

$red-1: hsl(0, 70%, 25%);
$red-2: hsl(0, 67%, 33%);
$red-3: hsl(0, 70%, 42%);
$red-4: hsl(0, 70%, 50%);
$red-5: hsl(0, 70%, 65%);
$red-6: hsl(0, 79%, 80%);
$red-7: hsl(0, 77%, 95%);

$pink-1: hsl(311, 71%, 10%);
$pink-2: hsl(311, 71%, 25%);
$pink-3: hsl(311, 71%, 32%);
$pink-4: hsl(311, 71%, 42%);
$pink-5: hsl(311, 71%, 55%);
$pink-6: hsl(311, 71%, 75%);
$pink-7: hsl(311, 71%, 90%);

$light-icon: $white;
$dark-icon: $black;

$dark-3-primary: $purple-1;
$dark-2-primary: $purple-2;
$dark-1-primary: $purple-3;
$primary: $purple-4;
$light-1-primary: $purple-5;
$light-2-primary: $purple-6;
$light-3-primary: $purple-7;

$dark-3-secondary: $pink-1;
$dark-2-secondary: $pink-2;
$dark-1-secondary: $pink-3;
$secondary: $pink-4;
$light-1-secondary: $pink-5;
$light-2-secondary: $pink-6;
$light-3-secondary: $pink-7;

$dark-3-error: $red-1;
$dark-2-error: $red-2;
$dark-1-error: $red-3;
$error: $red-4;
$light-1-error: $red-5;
$light-2-error: $red-6;
$light-3-error: $red-7;