@import 'global';

.menu-item {
  display: flex;
  align-items: center;
  justify-content: left;
  height: $spacing-6;
  padding: 0 $spacing-3;
  min-width: $spacing-8;
  width: max-content;
  cursor: pointer;
  transition: background .3s ease-out;
  user-select: none;

  &:hover {
    background: $light-3-grey;
  }

  &.menu-item--is-clicked {
    background: $dark-1-grey;

    &:hover {
      background: $light-1-grey;
    }
  }
}