@import 'global';

.button {
  border: none;
  border-radius: $spacing-1;
  color: $light-icon;
  background-color: $primary;
  cursor: pointer;
  height: $spacing-6;
  margin: $spacing-1;
  width: 100px;

  &::-moz-focus-inner {
    border: 0;
    outline: 0;
  }

  &:hover {
    background-color: $light-1-primary;
    border: 0;
    outline: 0;
  }

  &:focus {
    border: 3px solid $light-1-secondary;
  }

  &:active {
    background-color: $dark-2-primary;
  }

  &.button--icon {
    width: $spacing-6;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      width: $spacing-6;
    }
  }

  &.button--is-clicked {
    background-color: $dark-2-primary;

    &:hover {
      background-color: $dark-2-primary;
    }
  }

  &.button--is-secondary {
    background-color: transparent;
    border: 1px solid $primary;
    color: $primary;

    &:hover {
      background-color: $light-3-primary;
    }

    &:focus {
      border: 3px solid $light-1-secondary;
    }

    &:active {
      border: 1px solid $dark-3-primary;
      background-color: $dark-2-primary;
      color: $light-icon;
    }

    &.button--is-clicked {
      background-color: $dark-2-primary;
      border: 1px solid $dark-3-primary;
      color: $light-icon;

      &:hover {
        background-color: $light-1-primary;
      }

      &:focus {
        border: 3px solid $light-1-secondary;
      }

      &:active {
        border: 1px solid $dark-3-primary;
        background-color: $dark-2-primary;
        color: $light-icon;
      }
    }
  }
}