@import 'global';

.initiative-tracker {
  padding: $spacing-3;

  .initiative-tracker__header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $spacing-1;

    .initiative-tracker__header-title {
      flex-grow: 2;
      margin: $spacing-1;
      font-size: $font-size-18;
      font-weight: $font-bold;
    }
  }

  .initiative-tracker__body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: $spacing-3 0;
    border-top: 1px solid $light-2-grey;
    border-bottom: 1px solid $light-2-grey;

    .initiative-tracker__no-data {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
    }

    .initiative-tracker__data {
      width: 100%;
      border-spacing: 0;

      .initiative-tracker__entry {
        display: flex;
        height: 40px;

        .initiative-tracker__name-column,
        .initiative-tracker__hp-column,
        .initiative-tracker__initiative-column,
        .initiative-tracker__actions-column {
          padding: 0 $spacing-1;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .initiative-tracker__name-column {
          flex-grow: 1;
        }

        .initiative-tracker__hp-column {
          flex-grow: 0;
          width: 70px;
        }

        .initiative-tracker__initiative-column {
          flex-grow: 0;
          width: 70px;
        }

        .initiative-tracker__actions-column {
          flex-grow: 0;
        }

        .initiative-tracker__column-label {
          font-size: $font-size-10;
          color: $dark-3-grey;
        }

        &:nth-child(odd) {
          background-color: $light-3-grey;
        }
      }

      .initiative-tracker__hp-header {
        width: 1px;
        min-width: 70px;
      }

      .initiative-tracker__initiative-header {
        width: 1px;
        min-width: 70px;
      }

      .initiative-tracker__actions-header {
        width: 1px;
      }

      .initiative-tracker__actions-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;

        &.initiative-tracker__actions-container--desktop-only {
          @media screen and (max-width: 599px) {
            display: none;
          }
        }

        &.initiative-tracker__actions-container--mobile-only {
          @media screen and (min-width: 600px) {
            display: none;
          }
        }
      }
    }
  }

  .initiative-tracker__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 $spacing-1;
  }
}